h1 {
    color: gold;
    text-align: center;
    font-size: 40px;
}

h3 {
    text-align: center;
    font-size: 30px;
}

h5 {
    text-align: center;
    font-size: 20px
}

body {
    background-color:gold;
}

.box {
        background-color: #FFFFFF;
        width: 650px;
        height: 550px;
        margin: 7em auto;
        border-radius: 1.5em;
        box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
}
footer {
        font: italic small-caps bold 15px/2 cursive;
        text-align: center;
        color: black;
}